<div>
  <div>
    <div class="container flex flex-wrap mx-auto ml-4 mr-6 mt-8">
        <a  href="/categories/jazz" class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 ml-2 border border-gray-400 rounded shadow">
        Jazz
      </a
    </div>
  </div>
</div>
