<div>
  <div>
    <div class="container flex flex-wrap mx-auto ml-4 mr-6 mt-8">
        {{#each categories}}
          <a class={{this}} href="/categories/{{this.category}}" > {{this}}</a>
        {{/each}}
    </div>
  </div>
</div>
