
<div ><p >Strapi Starter Nuxt.js E-commerce</p> <div ><a href="https://twitter.com/strapijs" ></a> <a href="https://facebook.com/strapijs" ></a> <a href="https://github.com/strapi/strapi-starter-nuxt-e-commerce"></path></svg></a></div></div>
