<div class="flex justify-between ml-6 mr-6 mt-4">
  <a href="/" >
    <span class="emoji">
      <p class="logo" height="150" width="150" >my logo</p>
    </span>
  </a>

  <button class="checkout-btn flex items-center">
    <img />
    <span class="checkout-total-price ml-3 font-semibold text-sm text-indigo-500"></span>
  </button>
</div>
