<nav class="navbar navbar-light bg-light">  <a href="/" >
   <a class="navbar-brand" href="#">My Logo</a>
   
  <button class="checkout-btn flex items-center">
    <img src="cart.svg" />
    <span class="checkout-total-price ml-3 font-semibold text-sm text-indigo-500"></span>
  </button>
</nav>
