<div class="navbar navbar-dark bg-dark">
  <a href="/" >
    <span class="emoji">
      <p class="logo" height="150" width="150" >my logo</p>
    </span>
  </a>

  <button class="checkout-btn flex items-center">
    <img src="cart.svg" />
    <span class="checkout-total-price ml-3 font-semibold text-sm text-indigo-500"></span>
  </button>
</div>
