<div class="products">
    <div class="m-6 grid grid-cols-1 sm:grid-cols-3 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-4 mt-8">
        {{#each products}}
        <div class="col-lg-7" style="margin-top: 50px;">
            <div class="card">
                <img src="{{this.image}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Posted by {{this.title}}</h5>
                    <p>
                    {{this.description}}
                    </p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
